<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Document</title>
</head>
<body>
    <%myQuery.forEach(function(element) { %>
        <div class="presentation">
            <h1 class="drink-name"><%=element.strDrink%></h1>
            <!-- <form method="get" action="/recipe"> -->
                <input type="image" id="<%=element.strDrink%>" name="<%=element.strDrink%>" src="<%=element.strDrinkThumb%>" class="img-thumbnail" width="300px" height="400px" alt="<%=element.strDrink%>" disabled></a>
            <!-- </form> -->
        </div>
        <div id="napkin">      
            <p class="description"><b>Glass Type :</b> <%=element.strGlass%></p>  
            <p class="description" style="text-align:justify"><b>Instruction :</b> <%=element.strInstructions%></p>
            <table>
                <thead>
                    <tr>
                        <th>Measures</th>
                        <th>Ingredients</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (i = 1; i <= 15; i++) { %>
                        <tr>
                            <td><%=eval('element.strMeasure' + i)%></td>
                            <td><%=eval('element.strIngredient' + i)%></td>    
                        </tr>
                    <% }; %>
                </tbody>
            </table>
        </div>
    <%});%>
</body>
</html>